/* micro clearfix hack */
        .cf:before,
    .cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
    }

    .cf:after {
    clear: both;
    }

    /**
    * For IE 6/7 only
    * Include this rule to trigger hasLayout and contain floats.
    */
    .cf {
    *zoom: 1;
    }
        

    #glyph_chart {
    width: 96%;
    margin: 0 auto;
    border-top: 0.0625em solid #666;
    border-left: 0.0625em solid #666;
    }
    #glyph_chart div {    
    float: left;
    background-color: #FFFFFF;
    padding: 0.1875em;
    border-bottom: 0.03125em solid #666666;
    border-right: 0.03125em solid #666666;
    height: 6.5em;
    width: 4em;
    }
    #glyph_chart div div{    
    float: none;
    padding: 0;
    border: 0px none;
    text-align: center;
    width: auto;
    height: auto;
    }

    /*

    font-size: 200%;
    */
    #glyph_chart .glyph { font-family: 'MoreVectors'; font-size: 2.25em; margin: 0.166666667em 0; padding: 0 }

    #glyph_chart .entity,
    #glyph_chart .description
     { font-family: serif; font-size: 0.625em; padding: 0.25em 0; margin: 0 }
    #glyph_chart .entity
     { background: #EEE; }
    #glyph_chart .unassigned
     { display: none; }


