body {
	font-family: sans-serif;
}
.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, 12rem);
	column-gap: 2rem;
	row-gap: .5rem;
}

.icon {
	display: grid;
	grid-template-rows: subgrid;
	grid-row: span 3;
	justify-items: center;
	margin-block: 1rem;
}

.icon__example {
	font-size: 3rem;
}

.icon__name,
.icon__unicode {
	font-size: 1.25rem;
	text-align: center;
}
